@import url('https://fonts.google.com/specimen/Figtree');
*{
    font-family: Figtree;
    padding: 0px;
    margin: 0px;
}
body{
  background: hsl(47, 88%, 63%);
}
.main{
    border: 1px solid;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
     width : 600;
}
.container{
    border-radius: 20px;
    box-shadow: 10px 10px;
    border: 1px solid;
    display: flex;
    background:   hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
    
}
.box{
    margin-left: -66px;
}
@media (max-width: 400px ) {
    @import url('https://fonts.google.com/specimen/Figtree');
*{
    font-family: Figtree;
    padding: 0px;
    margin: 0px;
}
body{
  background: hsl(47, 88%, 63%);
}
.main{
    border: 1px solid;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
     width : 100vw;
}
.container{
    border-radius: 20px;
    box-shadow: 10px 10px;
    border: 1px solid;
    display: flex;
    background:   hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 550px;
    
}
.box{
    margin-left: -66px;
}

    
}